node_modules/
dist/

.DS_Store
config/aws.env
config/terraform.tfvars
*.auto.tfvars
.env
.venv/
.terraform/
terraform/.terraform/
.terraform.lock.hcl
terraform/.terraform.lock.hcl
terraform/.destroy.tfplan
*.tfplan
*.tfstate
*.tfstate.*
terraform/state/session/latest.tfstate
