node_modules/
dist/
combined/
config/

.DS_Store
config/aws.env
config/terraform.tfvars
*.auto.tfvars
.env
.venv/
.terraform/
terraform/.terraform/
terraform/.destroy.tfplan
*.tfplan
terraform/state/session/latest.tfstate
